Source: qubes-mgmt-salt-dom0-policy-qubesbuilder
Section: admin
Priority: extra
Maintainer: Jason Mehring <nrgaway@gmail.com>
Build-Depends:
    debhelper (>= 9~),
    quilt
Standards-Version: 3.9.5
Homepage: http://www.qubes-os.org

Package: qubes-mgmt-salt-dom0-policy-qubesbuilder
Section: admin
Architecture: all
Depends:
    qubes-mgmt-salt,
    qubes-mgmt-salt-dom0
Description: Installs or removes Qubes RPC policies in dom0 and domU to enable qubesbuilder to build in DispVMs.
